@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* STRUCTURE*/
.container {
  margin: 1.5rem;
}

.container-home {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.container-home:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: #333333;
  margin: 2rem;
}

#services {
  margin-top: 6.5rem;
}

#our-works {
  margin-top: 6.5rem;
}

#clients {
  margin-top: 6.5rem;
}

/* HOME*/
.subtitle-home {
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-size: 1.125rem;
  color: #2D9CDB;
}

.text-home {
  font-size: 0.75rem;
  font-weight: 400;
  color: #4F4F4F;
  margin-bottom: 2rem;
}

.container-home img {
  width: 100%;
  height: 100%;
  border-radius: 1.125rem;
}

.contact-email label {
  font-size: 0.625rem;
  color: #828282;
}

.contact-email input {
  font-size: 0.875rem;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 0.75rem;
  padding: 1rem 6rem 1rem 1rem;
  width: 50%;
}

.contact-email button {
  border-style: none;
  margin: -5.4rem;
  border-radius: 0.75rem;
  background-color: #2D9CDB;
  padding: 0.75rem 1.5rem;
  color: #FFFFFF;
  font-size: 0.875rem;
}

/* SERVICES*/
.content-services {
  display: -ms-grid;
  display: grid;
  gap: 2.25rem;
}

.description-services {
  padding: 2.625rem 2.125rem;
}

.description-services:hover {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.description-services h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.description-services p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.description-services button {
  font-size: 1rem;
  color: #828282;
  background-color: #E0E0E0;
  border-style: none;
  border-radius: 0.75rem;
  padding: 0.5625rem 0.75rem;
}

.description-services button:hover {
  color: #FFFFFF;
  background-color: #2D9CDB;
}

.edit-services {
  border-radius: 1rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #2D9CDB;
  margin-bottom: 2rem;
}

.code-services {
  border-radius: 1rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #27AE60;
  margin-bottom: 2rem;
}

.storage-services {
  border-radius: 1rem;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #EB5757;
  margin-bottom: 2rem;
}

/* OUR WORKS*/
.content-works {
  display: -ms-grid;
  display: grid;
}

.description-works {
  margin-bottom: 2.25rem;
}

.description-works img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.description-works figcaption {
  font-size: 0.75rem;
  font-weight: 300;
  color: #828282;
}

.description-works p {
  font-size: 1.125rem;
}

.see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see-more a {
  text-decoration: none;
  color: #2D9CDB;
}

.see-more span {
  color: #2D9CDB;
}

/* CLIENTS */
.content-clients {
  display: -ms-grid;
  display: grid;
}

.subtitle-clients {
  margin-left: 2rem;
  margin-bottom: -2rem;
  font-size: 1.125rem;
  color: #EB5757;
}

.description-clients {
  margin-top: 2.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 40%;
      grid-template-columns: 50% 40%;
  gap: 0.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-clients img:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.description-clients p {
  font-size: 1rem;
}

.img-team {
  width: 100%;
  border-radius: 1.5rem;
}

blockquote {
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.avatar-clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  gap: 1.875rem;
}

.avatar-clients img {
  max-width: 5rem;
  border-radius: 0.75rem;
}

.name-occupation p:nth-child(1) {
  font-size: 1.5rem;
  color: #333333;
}

.name-occupation p:nth-child(2) {
  font-size: 1.125rem;
  color: #828282;
}

/* Material Icons*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
/*# sourceMappingURL=style.css.map */